{
    "CN": "etcd",
    "hosts": [
{% for item in cert_hosts.etcd %}
        "{{ item }}"{% if not loop.last -%},
{% endif %}
{% endfor %}

    ],
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "CN",
            "L": "BeiJing",
            "ST": "BeiJing"
        }
    ]
}