#[Member]
ETCD_NAME="{{ inventory_hostname }}"
ETCD_DATA_DIR="{{ etcd_data_dir }}"
ETCD_LISTEN_PEER_URLS="https://{{ ansible_ssh_host }}:2380"
ETCD_LISTEN_CLIENT_URLS="https://{{ ansible_ssh_host }}:2379"

#[Clustering]
ETCD_INITIAL_ADVERTISE_PEER_URLS="https://{{ ansible_ssh_host }}:2380"
ETCD_ADVERTISE_CLIENT_URLS="https://{{ ansible_ssh_host }}:2379"
ETCD_INITIAL_CLUSTER="{% for host in groups['etcd-cluster'] %}{{ hostvars[host].inventory_hostname }}=https://{{ hostvars[host].ansible_ssh_host }}:2380{% if not loop.last %},{% endif %}{% endfor %}"
ETCD_INITIAL_CLUSTER_TOKEN="etcd-cluster"
ETCD_INITIAL_CLUSTER_STATE="new"